.row__container {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: column;
        width: 314px;
        margin-right: 20px;
    }
    .col_10__container {
        display: flex;
        flex-direction: column;
        width: 1240px;
    }
}


@media (max-width: 760px) {
    .row__container {
        flex-direction: column;
        aside {
            width: 100%;
            margin-right: 0;
        }
        .col_10__container {
            width: 100%;
        }
    }
}