.row__container {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: column;
        width: 232px;
        margin-right: 35px;
    }
    .col_10__container {
        display: flex;
        flex-direction: column;
        width: 1240px;
        .products_blocks_wrapper {
            justify-content: space-between;
            &__slot {
                width: 19%;
                margin-right: 14px;
                margin-bottom: 14px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .row__container {
        .col_10__container {
            .products_blocks_wrapper {
                justify-content: center;
                &__slot {
                    width: 31%;
                }
            }
        }
    }
}
@media (max-width: 1260px) {
    .row__container {
        .col_10__container {
            .products_blocks_wrapper {
                justify-content: center;
                &__slot {
                    width: 19%;
                }
            }
        }
    }
}



@media (max-width: 1140px) {
    .row__container {
        &.products-page-row {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .col_10__container {
            .products_blocks_wrapper {
                &__slot {
                    width: 45%;
                }
            }
        }
    }
}


@media (max-width: 855px) {
    .row__container {
        .col_10__container {
            .products_blocks_wrapper {
                &__slot {
                    &:nth-child(4n) {
                        margin-right: 19px;
                    }
                    &:nth-child(3n) {
                        margin-right: 19px;
                    }
                    &:nth-child(2n) {
                        margin-right: 19px;
                    }
                }
            }
        }
    }
}


@media (max-width: 760px) {
    .row__container {
        flex-direction: column;
        aside {
            width: 100%;
            margin-right: 0;
        }
        .col_10__container {
            width: 100%;
        }
    }
}