header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    width: 100vw;
    z-index: 10;
    margin-bottom: -10px;
    &.menu-open {
        position: static;
        #nav {
            border-bottom: 1px solid #D9D9D9;
            box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.05);
        }
    }
    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.05);
        .top-nav {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 1320px;
            height: 96px;
            margin: 18px auto 0 auto;
            box-sizing: border-box;
            .hamburger {
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
                cursor: pointer;
                display: none;
                .hamburger-line {
                    display: block;
                    height: 2px;
                    background-color: $main_color;
                    width: 32px;
                    margin: 8px 32px 8px 0px;
                }
            }
            .logo {
                margin-right: 99px;
                img {
                    width: 181px;
                    height: 94px;
                    max-height: 94px;
                    padding: 4px;
                    box-sizing: border-box;
                }
            }
            .search-bar-wrapper {
                display: flex;
                width: 65%;
                #searchQueryInput {
                    font-family: 'Poppins', sans-serif;
                    color: #484848;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 60px;
                    background: $white;
                    border: 1px solid #8A8A8A;
                    padding: 0;
                    padding-left: 22px;
                    padding-right: 56px;
                    border-radius: 30px;
                    &::placeholder {
                        font-family: 'Poppins', sans-serif;
                        color: #484848;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                    }
                    &:hover,
                    &:focus {
                        outline: 1px solid $main_color;
                        border: 1px solid rgba(255,255,255,0);
                    }
                }
                #searchQuerySubmit {
                    margin-left: -80px;
                    background: none;
                    border: none;
                    outline: none;
                    width: 90px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .mobile_search-btn {
                    display: none;
                }
            }
            .account-cart-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 30%;
                .account-container {
                    display: flex;
                    align-items: center;
                    .logo-container {
                        margin-right: 8px;
                        margin-top: 12px;
                    }
                }
                .cart-container {
                    display: flex;
                    flex-direction: row;
                    margin-left: 34px;
                    .cart-link {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                    .cart-logo-container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        margin-right: 14px;
                    }
                    .cart-total {
                        p {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 18px;
                            color: $light_black;
                            white-space: pre;
                            span {
                                color: $main_color;
                                font-weight: 700;;
                            }
                        }
                    }
                }
                }
            }
        }
        .bottom-nav {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1320px;
            height: 40px;
            margin: 0 auto;
            padding: 10px 0 20px 0;
            .left-container {
                position: relative;
                display: flex;
                ul {
                    &.no-menu-links {
                        display: flex;
                        list-style: none;
                        align-items: center;
                        margin-left: -40px;
                        li {
                            display: inline-block;
                            list-style: none;
                            margin-left: 40px;
                            a {
                                color: $light_black;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;
                            }
                            &:hover {
                                a {
                                    text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                                    cursor: pointer;
                                    color: $main_color;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                ul {
                    list-style: none;
                    padding: 0;
                    padding-right: 56px;
                    li.bottom-nav-links:hover {
                        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                        cursor: pointer;
                    }
                    li {
                        list-style: none;
                        color: $light_black;
                        text-shadow: none;
                        font-size: 18px;
                        line-height: 22px;
                        z-index: 99;
                        &.first-line {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: "";
                                background: url("./../assets/icons/chevron-down.svg") no-repeat;
                                background-position: center;
                                background-size: contain;
                                width: 15px;
                                height: 7.5px;
                                top: 34px;
                                right: -24px;
                            }
                            &:hover::after {
                                transition: 0.6s;
                                transform: rotate(180deg)
                            }
                        }
                        &.no-arrow {
                            &::after {
                                display: none;
                            }
                        }
                        &.bottom-nav-links {
                            padding: 28px 0;
                            font-weight: 500;
                            &.category {
                                position: relative;
                                padding-left: 28px;
                                &::before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    top: 28px;
                                    left: 0px;
                                    background: url("./../assets/icons/header/category-layers.svg");
                                    height: 20px;
                                    width: 20px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                                .bottom-nav-sublist {
                                    &.office {
                                        ul {
                                            li {
                                                a {
                                                    &::after {
                                                        position: absolute;
                                                        content: "";
                                                        background: url("./../assets/icons/chevron-down.svg") no-repeat;
                                                        background-position: center;
                                                        background-size: contain;
                                                        width: 15px;
                                                        height: 7.5px;
                                                        top: 14px;
                                                        right: -24px;
                                                    }
                                                }
                                                
                                                &:hover {
                                                    a {
                                                        &::after {
                                                            background: url("./../assets/icons/chevron-down-white.svg") no-repeat;
                                                            background-position: center;
                                                            background-size: contain;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:hover .bottom-nav-sublist {
                            display: flex;
                        }
                        &:hover {
                            color: $main_color;
                        }
                        .bottom-nav-sublist {
                            position: absolute;
                            display: none;
                            top: 69px;
                            left: 0;
                            width: 100vw;
                            height: auto;
                            background-color: $white;
                            z-index: 0;
                            padding-bottom: 21px;
                            &.brands {
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: flex-start;
                                    margin-left: -200px;
                                    width: 1320px;
                                    li {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        width: 162px;
                                        height: 81px;
                                        padding: 40px;
                                        margin-right: 20px;
                                        a {
                                            border-radius: 10px;
                                            .order-nav-img {
                                                box-sizing: border-box;
                                                padding: 15px;
                                                border: 1px solid rgba(255, 255, 255, 0);
                                                img {
                                                    object-fit: contain;
                                                }
                                            }
                                            &:hover {
                                                border: 1px solid $grey_light2;
                                            }
                                        }
                                        &:hover {
                                            background-color: rgba(255, 255, 255, 0);
                                        }
                                    }
                                }
                            }
                            &.special-orders {
                                ul {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    margin-left: -340px;
                                    li {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        width: 267px;
                                        height: 280px;
                                        margin: 0 20px 0 0;
                                        padding: 0;
                                        border: 1px solid rgba(255, 255, 255, 0);
                                        border-bottom: 4px solid rgba(255, 255, 255, 0);
                                        a {
                                            .order-nav-box {
                                                &--img {
                                                    text-align: center;
                                                    img {
                                                        object-fit: contain;
                                                    }
                                                }
                                                &--text {
                                                    p {
                                                        font-size: 16px;
                                                        font-style: normal;
                                                        font-weight: 400;
                                                        line-height: normal;
                                                        color: $light_black;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                        &:hover {
                                            background-color: rgba(255, 255, 255, 0);
                                            border: 1px solid $main_color;
                                            border-bottom: 4px solid $main_color;
                                            a {
                                                color: $light_black;
                                            }
                                        }
                                    }
                                }
                            }
                            &::before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: -10px;
                                left: -50vw;
                                width: 200vw;
                                background-color: $white;
                                height: calc(100% + 10px);
                                z-index: 0;
                            }
                            &.office::after {
                                position: absolute;
                                display: block;
                                content: "";
                                bottom: 0;
                                left: 40%;
                                background: url("./../assets/img/header/header_image.jpg");
                                height: 396px;
                                width: 614px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                z-index: 0;
                            }
                            ul {
                                position: relative;
                                width: max-content;
                                min-width: 200px;
                                flex-direction: column;
                                top: 0;
                                left: 0;
                                padding-top: 0;
                                z-index: 9999;
                                background: $white;
                                border-top: 0;
                                li {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    background: $white;
                                    min-height: 37px;
                                    padding-left: 16px;
                                    text-transform: none;
                                    width: 110%;
                                    padding-right: 10%;
                                    a {
                                        position: relative;
                                        font-size: 14px;
                                        line-height: 34px;
                                        font-weight: 400;
                                        text-decoration: none;
                                        color: $light_black;
                                        text-align: left;
                                        width: 100%;
                                        &::after {
                                            position: absolute;
                                            top: 10px;
                                            right: 0;
                                            transform: rotate(-90deg);
                                            background: url("./../assets/icons/chevron-down.svg") no-repeat;
                                            background-position: center;
                                            background-size: contain;
                                            width: 12px;
                                            height: 12px;
                                            margin-right: 16px;
                                        }
                                        &:hover::after {
                                            background: url("./../assets/icons/chevron-down-white.svg") no-repeat;
                                            background-position: center;
                                            background-size: contain;
                                        }
                                    }
                                    &:hover .bottom-nav-sub-sublist {
                                        display: flex;
                                    }
                                    &:hover {
                                        background-color: $main_color;
                                        a {
                                            color: $white;
                                        }
                                    }
                                    &:last-child {
                                        border-color: none;
                                        border-bottom: 0;
                                    }
                                }
                                .bottom-nav-sub-sublist {
                                    position: absolute;
                                    display: none;
                                    top: 0;
                                    left: 100%;
                                    width: 100%;
                                    ul {
                                        padding-top: 0;
                                        width: max-content;
                                        flex-direction: column;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        z-index: 9999;
                                        background: $white;
                                        padding-left: 54px;
                                        a {
                                            text-decoration: none;
                                            &::after {
                                                display: none;
                                            }
                                            li {
                                                display: flex;
                                                justify-content: flex-start;
                                                align-items: center;
                                                background: $white;
                                                border-radius: 0;
                                                min-height: 37px;
                                                padding-left: 16px;
                                                padding-right: 24px;
                                                text-transform: none;
                                                white-space: pre;
                                                font-size: 14px;
                                                line-height: 21px;
                                                &::after {
                                                    display: none;
                                                    margin-right: 0;
                                                }
                                                &:hover {
                                                    color: $light_black;
                                                    text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right-container {
                ul {
                    &.no-menu-links {
                        display: flex;
                        list-style: none;
                        align-items: center;
                        margin-left: -40px;
                        li {
                            display: inline-block;
                            list-style: none;
                            margin-left: 40px;
                            text-transform: uppercase;
                            color: $light_black;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            &:hover {
                                color: $main_color;
                                a {
                                    color: $white;
                                }
                            }
                            &::after {
                                display: none;
                            }
                        }
                        .promo-nav {
                            li {
                                position: relative;
                                color: $main_color;
                                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                                margin-right: 24px;
                                &::before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    top: 0px;
                                    left: -28px;
                                    background: url("./../assets/icons/header/promotions.svg");
                                    height: 20px;
                                    width: 20px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                        .new-nav {
                            li {
                                position: relative;
                                color: $red;
                                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                                &::before {
                                    position: absolute;
                                    display: block;
                                    content: "";
                                    top: 0px;
                                    left: -28px;
                                    background: url("./../assets/icons/header/news.svg");
                                    height: 20px;
                                    width: 20px;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    header {
        #nav {
            .top-nav {
                width: 80vw;
                .logo {
                    margin-right: 40px;
                }
            }
            .bottom-nav {
                width: 80vw;
                .bottom-nav-sublist {
                    &.brands {
                        ul {
                            margin-left: -16vw !important;
                            width: 100% !important;  
                            li {
                                width: 18vw !important;
                                height: auto !important;
                                padding: 24px !important;
                            }
                        }
                    }
                    &.special-orders {
                        ul {
                            margin-left: -22vw !important;              
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1320px) {
    header {
        #nav {
            .top-nav {
                width: 100%;
                margin-right: 16px;
            }
            .bottom-nav {
                width: 90vw;
                .bottom-nav-sublist {
                    &.brands {
                        ul {
                            justify-content: center !important;
                            margin-left: 16px !important;
                            li {
                                width: 25vw !important;
                                height: auto !important;
                                padding: 24px !important;
                                a {
                                    height: auto !important; 
                                    &:hover {
                                        border: 0;
                                    }
                                }
                            }
                        }
                    }
                    &.special-orders {
                        ul {
                            justify-content: center !important;
                            flex-wrap: wrap !important;
                            margin-left: 15px !important;
                            li {
                                width: 30vw !important;
                                height: auto !important;
                                margin-bottom: 15px !important;
                                a {
                                    height: auto !important; 
                                }
                                &:hover {
                                    border: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .cart-container {
        .cart-total {
            display: none;
        }
    }
    header #nav .top-nav .search-bar-wrapper {
        width: 50%;
    }
    header #nav .top-nav .account-cart-container {
        width: 20%;
    }
    header #nav .top-nav .logo {
        width: 20%;
        margin-right: 16px;
        img {
            width: 90px;
            height: auto;
        }
    }
    .top-nav {
        height: 80px !important;
        width: 100%  !important;
        &::after {
            top: 80px !important;
        }
        .hamburger {
            display: block !important;
        }
    }
    .bottom-nav {
        width: 90vw;
        .bottom-nav-sublist {
            &.brands {
                ul {
                    li {
                        border-bottom: 0 !important;
                    }
                }
            }
        }
    }
    header #nav .bottom-nav {
        display: none;
    }
    header #nav .top-nav .search-bar-wrapper {
        margin-right: 16px !important;
    }
}

@media (max-width: 1400px) {
    header #nav .bottom-nav .right-container ul li {
        margin-left: 20px !important;
    }
}

@media (max-width: 760px) {
    header #nav {
        margin-left: 0;
        margin-right: 0;
        &.show-mobile-search-bar {
            padding-bottom: 50px;
        }
        .top-nav {
            margin-top: 0 !important;
            width: 90vw !important;
            height: 52px !important;
            margin-left: 16px;
            &::after {
                left: -5vw !important;
            }
        }
    }
    header #nav .top-nav .logo img {
        margin-top: 8px !important;
    }
    header #nav .bottom-nav .right-container ul li {
        margin-left: 20px !important;
    }
    header #nav .top-nav .search-bar-wrapper {
        &.z-index {
            z-index: -1;
        }
    }
    header #nav .top-nav .search-bar-wrapper #searchQueryInput {
        display: none !important;
        position: absolute;
        top: 52px;
        left: 0;
        padding-left: 16px;
        font-size: 14px;
        line-height: 21px;
        height: 45px;
        border-radius: 35px;
        &.active {
            display: flex !important;
        }
        &::placeholder {
            font-size: 14px;
            line-height: 21px;
        }
    }
    header #nav .top-nav .search-bar-wrapper #searchQuerySubmit {
        display: none !important;
        margin-left: 0 !important;
        background: none !important;
        position: absolute !important;
        top: 96px;
        right: 0;
        width: 64px;
        svg {
            margin-top: 6px !important;
            margin-left: 3px !important;
            height: 30px !important;
            width: 30px !important;
            path {
                fill: $white !important;
            }
        }
        &.active {
            display: flex !important;
            width: 48px !important;
            outline: none;
            background: $main_color !important;
            height: 45px;
            top: 52px;
            border-radius: 30px;
        }
    }
    header #nav .top-nav .search-bar-wrapper .mobile_search-btn {
        display: flex !important;
        position: absolute;
        top: 10px;
        right: 88px;
        svg {
            height: 30px !important;
            width: 30px !important;
        }
    }
    header #nav .top-nav .account-cart-container .cart-container {
        margin-left: 8px !important;
        .cart-link .cart-logo-container {
            margin-right: 0 !important;
        }
    }
}

/* mobile menu */
@media (max-width: 1280px) {
    header #nav .bottom-nav.active {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100vw;
        height: auto;
        .left-container {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            width: 100vw;
            text-align: center;
            ul {
                flex-direction: column;  
                padding: 0;
                margin: 8px 0;
                width: 100vw;  
                &.no-menu-links:last-of-type {
                    li {
                        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                    }
                }
                li {
                    margin-left: 0 !important;
                    padding-right: 0;
                    margin-top: 8px;
                }     
                .bottom-nav-sublist {
                    position: relative;
                    display: flex;
                    top: 20px;
                    &.office::before,
                    &.office::after {
                        display: none;
                    }
                    ul {
                        position: relative;
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                        width: 100%;
                        li {
                            padding: 0;
                            padding-left: 16px;
                            border-bottom: 1px solid $main_color;
                            &:last-child {
                                border-radius: 0;
                            }
                            &:hover .bottom-nav-sub-sublist {
                                display: none !important;
                            }
                            &.active .bottom-nav-sub-sublist {
                                position: relative;
                                display: flex !important;
                            }
                            &.active {
                                flex-direction: column;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .right-container {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            width: 100vw;
            text-align: center;
            ul { 
                flex-direction: column;  
                padding: 0;
                margin: 8px 0;
                width: 100vw; 
                a {
                    margin: 8px 0;
                    li {
                        margin-right: 0 !important;
                        margin-left: 0 !important;
                        text-transform: none;
                        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                    }
                }
            }
        }
    }
    header #nav .bottom-nav .left-container ul li .bottom-nav-sublist ul .bottom-nav-sub-sublist {
        width: 100%;
        left: unset;
        top: unset;
        ul {
            position: relative;
            border: 0;
            padding-left: 0;
        }
    }
    header {
        margin-bottom: 4px;
    }
    header #nav .bottom-nav .left-container ul li.bottom-nav-links {
        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
    }
    .hamburger.active .hamburger-line {
        transition: 0.6s;
    }
    
    .hamburger.active .hamburger-line:nth-child(1) {
        transform: translateX(-200px);
    }
    
    .hamburger.active .hamburger-line:nth-child(2) {
        transform: rotate(45deg) translate(2px, 4px);
    }
    
    .hamburger.active .hamburger-line:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -5px);
    }

    header #nav .bottom-nav .left-container ul li .bottom-nav-sublist ul .bottom-nav-sub-sublist ul {
        width: 100% !important;
    }
    header #nav .bottom-nav .left-container ul li.bottom-nav-links {
        padding: 16px 0px !important;
    }
    header #nav .bottom-nav .left-container ul li .bottom-nav-sublist ul .bottom-nav-sub-sublist ul a li {
        justify-content: flex-start !important;
        align-items: center !important;
    }
    header #nav .top-nav .account-cart-container .account-container .logo-container {
        margin-top: 0;
    }
    header #nav .top-nav .account-cart-container .account-container .logo-container .account-image {
        width: 30px !important;
        height: auto !important;
        margin-top: 6px;
        margin-right: -4px;
    }
    header #nav .top-nav .account-cart-container .cart-container {
        width: 31px;
        height: 31px;
        margin-top: 6px;
    }
    header #nav .top-nav .account-cart-container .cart-container .cart-link {
        width: 30px !important;
        height: auto !important;
        margin-left: 4px;
    }
    header #nav .top-nav .hamburger .hamburger-line {
        margin-right: 12px !important;
    }
    header #nav .bottom-nav .left-container ul li.bottom-nav-links.category::before {
        display: none;
    }
    header #nav .bottom-nav.active .left-container ul .bottom-nav-sublist ul li.active > a {
        height: 32px;
        line-height: 32px;
        padding-left: 28px;
        background-color: $main_color;
        color: $white;
    }
    header #nav .bottom-nav .bottom-nav-sublist.brands ul {
        margin-left: 0 !important;
    }
    header #nav .bottom-nav .left-container ul li .bottom-nav-sublist:not(.brands, .special-orders) ul li {
        position: relative;
    }
    header #nav .bottom-nav .left-container ul li .bottom-nav-sublist:not(.brands, .special-orders) ul li::after {
        position: absolute;
        content: "";
        background: url("./../assets/icons/chevron-down.svg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 7.5px;
        top: 14px;
        right: 70px;
        display: block;
    }
}

@media (max-width: 600px) {
    header #nav .bottom-nav .bottom-nav-sublist.brands ul {
        margin-left: -24px !important;
    }
}