$main_color: #68B236;
$white: #FFFFFF;
$light_black: #333333;
$grey_background: #F2F2F2;
$grey_middle: #8A8A8A;
$text_color: #8C8B8D;
$grey_middle_light: #ADADAD;
$grey_light: #E2E2E2;
$grey_light2: #A4A4A4;
$grey_light3: #F8F8F8;
$grey_light4: #F0F5F9;
$grey_light5: #E6E6E6;
$grey: #C3C3C3;
$red: #E84848;
$modal_background_black: #00000065;