$main_color: #68B236;
$white: #FFFFFF;
$light_black: #333333;
$grey_background: #F2F2F2;
$grey_middle: #8A8A8A;
$grey_middle_light: #ADADAD;
$grey_light: #E2E2E2;
$grey_light2: #F5F5F5;
$grey_light3: #F6F6F6;
$grey_light4: #F0F5F9;
$grey: #C3C3C3;
$red: #E84848;
$modal_background_black: #000000CC;