@import './../mixins/range_slider_mixin';

.category_filters {
    .accordion_box_title {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        margin-top: 15px;
        height: 36px;
        .title {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            color: $light_black;
            text-transform: uppercase;
            margin-bottom: 0;
            user-select: none;
            margin-top: 0;
        }
        &--img {
            user-select: none;
            img {
                margin-top: 5px;
                transition: 0.6s;
                transform: rotate(180deg);
            }
        }
        &.active {
            img {
                transform: rotate(0);
            }
        }
    }
    &-slot {
        display: block;
        &.hide {
            display: none;
        }
        &--list {
            padding-left: 0;
            margin-top: 10px;
            li {
                list-style: none;
                display: inline-flex;
                width: 100%;
                padding: 4px 0;
                label {
                        display: inline-flex;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                        cursor: pointer;
                        user-select: none;
                        margin-left: 12px;
                    p,
                    span {
                        display: inline-flex;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: normal;
                        color: $grey_middle;
                        user-select: none;
                        margin: 0;
                    }
                    p {
                        display: block;
                        margin-left: 4px;
                    }
                    .color_square {
                        display: inline-flex;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #D3D3D3;
                        box-sizing: border-box;
                        margin-right: 8px;
                        cursor: pointer;
                        &.white {
                            background-color: $white;
                        }
                        &.darkblue {
                            border: 1px solid #020054;
                            background-color: #020054;
                        }
                        &.red {
                            border: 1px solid #FF0000;
                            background-color: #FF0000;
                        }
                        &.yellow {
                            border: 1px solid #FFC700;
                            background-color: #FFC700;
                        }
                        &.green {
                            border: 1px solid #64C14D;
                            background-color: #64C14D;
                        }
                        &.purple {
                            border: 1px solid #5945A9;
                            background-color: #5945A9;
                        }
                        &.brown {
                            border: 1px solid #674C4C;
                            background-color: #674C4C;
                        }
                        &.yellow2 {
                            border: 1px solid #FFDA58;
                            background-color: #FFDA58;
                        }
                    }
                }
            }
        }
        .filters-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 24px;
            cursor: pointer;
            .expand-filters-btn,
            .set-changes-filters-btn {
                position: relative;
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                    margin: 0;
                }
            }
            .expand-filters-btn {
                margin-left: 8px;
                &.hide {
                    visibility: hidden;
                }
                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 2px;
                    left: -28px;
                    background: url("./../assets/icons/products_block/more_plus.svg");
                    height: 14px;
                    width: 14px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        .price_filters_box {
            .range-slider {
                margin-top: -35px;
                margin-bottom: 30px;
                @include range-slider(100%, 50px, 50px, #E1E1E1, #E1E1E1, none);
            }
              
            .price_filter_range {
                margin: 10px 0 15px 0;
                input {
                    width: 100%;
                    -webkit-appearance: none;
                    height: 5px;
                    background: $main_color;
                    border-radius: 5px;
                    background-image: linear-gradient($main_color, $main_color);
                    background-size: 70% 100%;
                    background-repeat: no-repeat;
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 16px;
                        width: 16px;
                        border-radius: 100%;
                        background: #E1E1E1;
                    }
                    &::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        box-shadow: none;
                        border: none;
                        background: rgba(255,255,255,0);
                    }
                }
            }
            .price_filter_container {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                &--from,
                &--to {
                    display: inline-block;
                    width: 111px;
                    height: 35px;
                    input {
                        font-family: 'Poppins', sans-serif;
                        width: 111px;
                        height: 35px;
                        border: 1px solid $grey_light5;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: normal;
                        color: $light_black;
                        padding: 0 12px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        &::placeholder {
                            color: $light_black;
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            border: 1px solid $main_color;
                            outline: 0;
                        }
                    }
                }
            }
            .set-prices {
                margin-top: 10px;
                cursor: pointer;
                display: flex;
                width: 100%;
                height: 35px;
                border-radius: 10px;
                border: 1px solid $grey_light5;
                box-sizing: border-box;
                button {
                    font-family: 'Poppins', sans-serif; 
                    border: 0;
                    cursor: pointer;
                    background-color: $white;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 35px;
                    margin: 0 auto;
                    text-align: center;
                }
                &:hover {
                    background-color: $main_color;
                    button {
                        border-color: $white;
                        background-color: $main_color;
                        color: $white;
                    }
                }
            }
        }
    }
}