.cart_step_two_container {
    margin-bottom: 120px;
    &.login {
        margin-bottom: 180px;
    }
    &__box {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        border-radius: 10px;
        border: 1px solid $main_color;
        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 45px 80px;
            box-sizing: border-box;
            width: 50%;
            .title {
                p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 40px 0;
                }
            }
            .input-slot {
                width: 80%;
                input {
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    height: 40px;
                    width: 100%;
                    box-sizing: border-box;
                    padding-left: 12px;
                    margin: 0 0 25px 0;
                    border-radius: 10px;
                    border: 1px solid $grey_light;
                    background: $grey_light3;
                    &:focus,
                    &:hover {
                        border: 1px solid $main_color;
                        outline: 0;
                    }
                    &::placeholder {
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                    }
                }
            }
            .full-green--btn {
                button {
                    padding: 0 33px;
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 45px 113px;
            box-sizing: border-box;
            width: 50%;
            border-left: 1px solid $main_color;
            .title {
                p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 19px 0;
                }
                &.second-title {
                    p {
                        margin: 30px 0 19px 0;
                    }
                }
            }
            .full-green--btn {
                button {
                    padding: 0 33px;
                }
                a {
                    padding: 0 33px;
                    font-family: 'Poppins', sans-serif; 
                    border: 0;
                    cursor: pointer;
                    position: relative;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                    background-color: $light_green;
                    border-radius: 10px;
                    height: 40px;
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid $white;
                    text-decoration: none;
                }
                &:hover {
                    a {
                        color: $light_green;
                        background-color: $white;
                        border: 1px solid $light_green;
                    }
                }
            }
        }
    }
    .cart_bottom_button_container {
        margin-top: 30px;
    }
}

@media (max-width: 960px) {
    .cart_step_two_container {
        &.login {
            margin-bottom: 40px;
        }
        &__box {
            flex-direction: column;
            &__left {
                padding: 24px;
                width: 100%;
                .title {
                    p {
                        margin: 0 0 24px 0;
                    }
                }
                .input-slot {
                    width: 90%;
                    input {
                        font-size: 14px;
                        line-height: 160%;
                        &::placeholder {
                            font-size: 14px;
                            line-height: 160%;
                        }
                    }
                }
                .full-green--btn {
                    button {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
            }
            &__right {
                padding: 24px;
                width: 100%;
                border-left: 0;
                .title {
                    p {
                        margin: 0 0 24px 0;
                    }
                }
                .full-green--btn {
                    button {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
            }
        }
        .cart_bottom_button_container {
            margin-bottom: 40px;
            a {
                font-size: 14px;
            }
        }
    }
}