.cart_step_one_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 228px;
    &__left {
        display: flex;
        flex-direction: column;
        margin-right: 23px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 24px;
        .cart_products_box {
            margin-bottom: 24px;
            border: 1px solid $main_color;
            border-radius: 10px;
            .cart_product_container {
                position: relative;
                width: 100%;
            }
        }
        .continue_shopping_button_container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 10px;
            height: 47px;
            width: max-content;
            margin-top: 6px;
            .continue-btn {
                font-family: 'Poppins', sans-serif; 
                border: 0;
                cursor: pointer;
                position: relative;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 47px;
                color: $light_green;
                background-color: $white;
                border-radius: 10px;
                height: 47px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid $light_green;
                text-decoration: none;
                padding: 0 33px;
                text-transform: uppercase;
            }
            &:hover {
                .continue-btn {
                    color: $white;
                    background-color: $light_green;
                    border: 1px solid $light_green;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .cart_step_one_container {
        flex-direction: column;
        margin-bottom: 24px;
        &__left {
            flex-direction: column;
            margin-right: 0;
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 760px) {
    .cart_step_one_container {
        &__left {
            margin-bottom: 0;
            .continue_shopping_button_container {
                margin: 0 auto;
            }
        }
    }
}