/* ==== LIGHTBOX ==== */
.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $white;
    margin: 0 auto;
    padding: 10px 10px 10px 0;
    width: 572px;
    height: auto;
    box-sizing: border-box;
    margin-right: 38px;
    &-small {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        .gallery-item {
            border: 1px solid $grey_light;
            margin-bottom: 6px;
            cursor: pointer;
            width: 81px;
            height: 67px;
            margin-right: 9px;
            box-sizing: border-box;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                user-select: none;
                padding: 5px;
                box-sizing: border-box;
                &:hover {
                    filter: opacity(0.8)
                }
            }
        }
    }
    &-big {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .gallery-item {
            border: 1px solid $grey_light;
            position: relative;
            margin-bottom: 9px;
            cursor: pointer;
            width: 572px;
            height: 390px;
            box-sizing: border-box;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                user-select: none;
                padding: 25px;
                box-sizing: border-box;
                &:hover {
                    filter: opacity(0.8)
                }
            }
            &.big {
                position: relative;
                &::after {
                    position: absolute;
                    display: block;
                    top: 21px;
                    right: 24px;
                    content: '';
                    background: url('./../assets/icons/products_card/heart.svg');
                    width: 24px;
                    height: 24px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 9;
                }
                .left-bottom-size {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 53px;
                    height: 53px;
                    border-radius: 100%;
                    background-color: #0083bc;
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        margin: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.lightbox {
    position: fixed;
    display: none;
    background-color: #00000066;
    width: 100%;
    height: 100%;              
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 9;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
    max-width: 40vw;
    background-color: #FFFFFF;
}
.lightbox-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
.lightbox-prev {
    position: absolute;
    color: #fff;
    padding: 12px;
    top: 45%;
    cursor: pointer;
    font-size: 0 !important;
    width: 35px;
    height: 60px;
    background: url('./../assets/icons/gallery/products_arrow_slider.svg');
    background-size: 35px 60px;
    background-repeat: no-repeat;
    transform: rotate(180deg) translateY(20px);
    left: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.lightbox-next {
    position: absolute;
    color: #fff;
    padding: 12px;
    top: 45%;
    cursor: pointer;
    font-size: 0 !important;
    width: 35px;
    height: 60px;
    background: url('./../assets/icons/gallery/products_arrow_slider.svg');
    background-size: 35px 60px;
    background-repeat: no-repeat;
    right: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}
.lightbox-close {
    position: absolute;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    font-size: 0 !important;
    width: 8px;
    height: 8px;
    background: url('./../assets/icons/gallery/close_discount_modal.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 5px;
    right: 5px;
}

@media (min-width: 761px) {
    .lightbox-prev {
        left: -72px;
    }
    .lightbox-next {
        right: -72px;
    }
}

@media (max-width: 760px) {
    .gallery-container-big {
        .big {
            position: relative;
            .left-bottom-size {
                width: 40px !important;
                height: 40px !important;
                p {
                    font-size: 22px !important;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .gallery-container {
        width: calc(100vw - 32px);
        box-sizing: border-box;
        padding: 0;
        &-small {
            .gallery-item {
                width: calc(97%/4);
                margin-right: 1%;
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
            }
        }
    }
    .lightbox {
        .lightbox-content {
            width: calc(100% - 20px);
            height: 60%;
            margin: 15vh auto;
            max-width: calc(100vw - 20px);
        }
    }
    .lightbox-close {
        padding: 6px;
    }
    .lightbox-prev {
        width: 25px;
        background-size: 25px 45px;
        transform: rotate(180deg) translateY(40%);
    }
    .lightbox-next {
        width: 25px;
        background-size: 25px 45px;
    }
}
/* /==== LIGHTBOX ==== */

@media (max-width: 760px) {
    .gallery-container-big {
        .gallery-item {
            width: 100%;
        }
    }
}