.row__container.products-page-row {
    .col__product_images {
        width: 46%;
    }
    .col__product_details {
        width: 54%;
    }
}

@media (max-width: 1140px) {
    .row__container.products-page-row {
        .col__product_images {
            width: 100%;
        }
        .col__product_details {
            width: 100%;
        }
    }
}