.products_tabs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    input[type="radio"] {
        display: none;
    }

    label {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: max-content;
        height: 54px;
        box-sizing: border-box;
        border-radius: 10px 10px 0px 0px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 0 31px;
        &:hover {
            p {
                text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
            }
        }

        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-right: 17px;
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            user-select: none;
        }
    }
}

.products_tab-text {
    width: max-content;
    height: 54px;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    &:hover {
        color: $main_color;
        border-bottom: 1px solid $main_color;
        background-color: $grey_light3;
        z-index: 1;
    }

    label {
        border-radius: 10px 10px 0px 0px;
    }
}

.products_tabs .products_tab {
    width: 100%;
    order: 1;
    display: none;
    border-top: 1px solid $grey_light6;
    margin-top: -1px;
    table {
        margin: 45px 0;
        width: 35%;
        tr {
            height: 30px;
            &:nth-of-type(odd) {
                background-color: $grey-table;
            }
            td {
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                color: $light_black;
                padding-left: 26px;
            }
        }
    }
    .availability_status_container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 45px 0;
        &__slot {
            display: flex;
            align-items: center;
            flex-direction: row;
            &:first-of-type {
                &--img {
                    margin-left: 0;
                }
            }
            &--img {
                margin-right: 10px;
                padding-right: 10px;
                margin-left: 7px;
            }
            &--text {
                padding: 10px;
                border-left: 1px solid $grey_light6;
                p {
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                    color: $grey_light2;
                }
            }
        }
    }
}

.products_tabs .products_tab_box {
    margin: 45px 0 140px 0;
    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }
}

.products_tabs input[type="radio"]:checked+.products_tab-text+.products_tab {
    display: block;
}

.products_tabs input[type="radio"]:checked+.products_tab-text {
    color: $main_color;
    border-bottom: 1px solid $main_color;
    background-color: $grey_light3;
    z-index: 1;
    p {
        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
    }
}