.products_mostly_view {
    .title {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        color: $light_black;
        margin: 0 0 35px 0;
    }
}

@media (max-width: 760px) {
    .products_mostly_view {
        .title {
            font-size: 20px;
            margin: 0 0 24px 0;
        }
    }
}