#banners {
    background-color: $white;
    padding-top: 47px;
    margin-bottom: 54px;
    margin-top: 0;
    .banners_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 368px;
        &__left,
        &__right {
            position: relative;
            a {
                img {
                    width: 660px;
                    height: 368px;
                    object-fit: contain;
                }
            }
            .button01 {
                position: absolute;
                bottom: 44px;
                left: 44px;
                width: 94px;
                height: 41px;
                box-sizing: border-box;
                a {
                    &::after {
                        right: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    #banners {
        .banners_container {
            height: auto;
            &__left,
            &__right {
                a {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    #banners {
        .banners_container {
            flex-direction: column;
            &__right,
            &__left {
                margin-top: -10px;
                margin-left: -16px;
                margin-right: -16px;
                width: calc(100% + 32px);
                .button01 {
                    bottom: 14%;
                    left: 7%;
                }
            }   
        }
    }
}

@media (max-width: 600px) {
    #banners {
        .banners_container {
            flex-direction: column;
            &__right,
            &__left {
                .button01 {
                    bottom: 14%;
                    left: 6%;
                    width: 90px;
                    a {
                        font-size: 12px;
                        &::after {
                            height: 10px;
                            width: 10px;
                            top: calc(50% - 5px);
                        }
                    }
                }
            }   
        }
    }
}