#our_team {
    .title {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        color: $light_black;
        margin: 0 0 26px 0;
        span {
            color: $main_color;
            text-decoration: underline;
        }
    }
    .desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        color: $light_black;
        margin: 0 0 53px 0;
    }
    .our_team_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1320px;
        margin-bottom: 91px;
        &__slot {
            display: flex;
            flex-direction: row;
            width: 24%;
            margin-right: 1%;
            margin-bottom: 45px;
            &--image {
                width: 123px;
                height: 176px;
                margin-right: 16px;
                img {
                    width: 123px;
                    height: 176px;
                    object-fit: contain;
                }
            }
            &--text {
                .name {
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 180%;
                    color: $light_black;
                    margin: 0 0 4px 0;
                }
                .position {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 180%; 
                    color: $light_black;
                    margin: 0 0 4px 0;
                }
                .tel {
                    margin: 0;
                    a {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 180%; 
                        color: $light_black;
                        text-decoration: none;
                        margin: 0;
                    }
                }
                .mail {
                    margin: 0 0 9px 0;
                    line-height: 1;
                    a {
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 180%; 
                        color: $light_black;
                        text-decoration: none; 
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .qrcode {
                    margin: 0;
                    line-height: 1;
                    a {
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 180%;
                        text-decoration: none; 
                        color: $main_color;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    #our_team {
        .our_team_container {
            &__slot {
                width: 20%;
                &--text {
                    .position {
                        font-size: 13px;
                    }
                    .tel {
                        font-size: 13px;
                        a {
                            font-size: 13px;
                        }
                    }
                }
                &--image {
                    width: 100%;
                    height: auto;
                    img {
                        width: 100%;
                        height: 145px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media (max-width: 1320px) {
    #our_team {
        .title {
            font-size: 24px;
        }
        .desc {
            font-size: 16px;
            margin: 0 0 36px 0;
        }
        .our_team_container {
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 64px;
            &__slot {
                display: flex;
                flex-direction: row;
                width: 32%;
                margin-bottom: 36px;
                &--image {
                    width: 123px;
                    height: 176px;
                    margin-right: 16px;
                    img {
                        width: 123px;
                        height: 176px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    #our_team {
        .our_team_container {
            margin-bottom: 64px;
            &__slot {
                display: flex;
                flex-direction: row;
                width: 49%;
            }
        }
    }
}

@media (max-width: 700px) {
    #our_team {
        .our_team_container {
            margin-bottom: 32px;
            &__slot {
                width: 100%;
            }
        }
    }
}