.the_tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .slot-price {
      padding-top: 12px;
    }
  }
  
  .the_tabs input[type="radio"] {
    display: none;
  }

  .tab-text {
    margin-bottom: 48px;
    width: 20%;
    min-width: 20%;
    height: 84px;
    background-color: $white;
    border-right: 1px solid $light_black;
    box-sizing: border-box;
    &:first-of-type {
      border-radius: 10px 0 0 10px;
      label {
        border-radius: 10px 0 0 10px;
      }
    }
    &.last {
      border-right: 0;
      border-radius: 0 10px 10px 0; 
      label {
        border-radius: 0 10px 10px 0; 
      }
    }
  }
  
  .the_tabs label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    height: 84px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 17px;
    }
    p {
      font-family: 'Tahoma', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 123.5%; 
      text-align: left;
    }
    &:hover {
      color: $white;
      background-color: $main_color;
    }
  }
  
  .the_tabs .tab {
    width: 100%;
    order: 1;
    display: none;
  }
  
  .the_tabs .tab h2 {
    font-size: 2rem;
  }
  
  .the_tabs .tab p {
    padding-bottom: 1rem;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text + .tab {
    display: block;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text {
    color: $white;
    background-color: $main_color;
  }
  
@media (max-width: 1280px) {
    .tab-text {
      width: 18%;
      min-width: 18%;
      margin-right: 2%;
    }
}

@media (max-width: 1120px) {
  .the_tabs label {
    p {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

@media (max-width: 760px) {
  .the_tabs {
    justify-content: center;
  }
  .tab-text {
    width: 20%;
    min-width: 20%;
    margin-right: 2%;
    margin-bottom: 24px;
    height: 64px;
  }
  .the_tabs label {
    padding: 0px 0 8px 0;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
}

@media (max-width: 600px) {
  .tab-text {
    width: 40%;
    min-width: 40%;
    margin-right: 10%;
    margin-bottom: 24px;
    padding-bottom: 32px;
    &.second {
      margin-right: 0;
      margin-left: 10%;
    }
  }
}