.the_tabs {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__arrow-left {
      position: absolute;
      top: 32px;
      left: -36px;
      img {
        cursor: pointer;
      }
    }
    &__arrow-right {
      position: absolute;
      top: 32px;
      left: calc(100% + 24px);
      img {
        cursor: pointer;
      }
    }
    .slot-price {
      padding-top: 12px;
    }
  }
  
  .the_tabs input[type="radio"] {
    display: none;
  }

  .tab-text {
    margin-bottom: 61px;
    width: 20%;
    height: 84px;
    background-color: $white;
    border-right: 1px solid $light_black;
    box-sizing: border-box;
    &.first {
      border-radius: 10px 0 0 10px;
      label {
        border-radius: 10px 0 0 10px;
      }
    }
    &.last {
      border-right: 0;
      border-radius: 0 10px 10px 0; 
      label {
        border-radius: 0 10px 10px 0; 
      }
    }
  }
  
  .the_tabs label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    height: 84px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 17px;
    }
    p {
      font-family: 'Tahoma', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 123.5%; 
      text-align: left;
    }
    &:hover {
      color: $white;
      background-color: $main_color;
    }
    &.label_tab_1:hover {
      img {
        content: url('./../assets/icons/tabs/bestseller-white.svg');
      }
    }
    &.label_tab_2:hover {
      img {
        content: url('./../assets/icons/tabs/office-items-white.svg');
      }
    }
    &.label_tab_3:hover {
      img {
        content: url('./../assets/icons/tabs/electronics_clocks-white.svg');
      }
    }
    &.label_tab_4:hover {
      img {
        content: url('./../assets/icons/tabs/clothes-white.svg');
      }
    }
    &.label_tab_5:hover {
      img {
        content: url('./../assets/icons/tabs/lanyards-white.svg');
      }
    }
  }

  #tab_1:checked + .tab-text {
    .label_tab_1 {
      img {
        content: url('./../assets/icons/tabs/bestseller-white.svg');
      }
    }
  }

  #tab_2:checked + .tab-text {
    .label_tab_2 {
      img {
        content: url('./../assets/icons/tabs/office-items-white.svg');
      }
    }
  }

  #tab_3:checked + .tab-text {
    .label_tab_3 {
      img {
        content: url('./../assets/icons/tabs/electronics_clocks-white.svg');
      }
    }
  }

  #tab_4:checked + .tab-text {
    .label_tab_4 {
      img {
        content: url('./../assets/icons/tabs/clothes-white.svg');
      }
    }
  }

  #tab_5:checked + .tab-text {
    .label_tab_5 {
      img {
        content: url('./../assets/icons/tabs/lanyards-white.svg');
      }
    }
  }
  
  .the_tabs .tab {
    width: 100%;
    order: 1;
    display: none;
  }
  
  .the_tabs .tab h2 {
    font-size: 2rem;
  }
  
  .the_tabs .tab p {
    padding-bottom: 1rem;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text + .tab {
    display: block;
  }
  
  .the_tabs input[type="radio"]:checked + .tab-text {
    color: $white;
    background-color: $main_color;
  }
  
@media (max-width: 1320px) {
  .the_tabs {
    border-radius: 10px;
    &__arrow-left {
      display: none;
    }
    &__arrow-right {
      display: none;
    }
    .tab-text {
      margin-bottom: 40px;
      margin-right: 16px;
      border-radius: 10px;
      border: 0;
      label {
        border-radius: 10px;
      }
    }
    .tab {
      .products_blocks_wrapper {
        overflow-x: scroll;
      }
    }
  }
}

@media (max-width: 1120px) {
  .the_tabs label {
    p {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

@media (max-width: 760px) {
  .the_tabs {
    justify-content: center;
  }
  .tab-text {
    height: 52px;
    margin-bottom: 24px;
  }
  .the_tabs label {
    height: 52px;
    box-sizing: border-box;
      img {
        width: 28px;
        height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
}

@media (max-width: 590px) {
  .tab-text {
    width: 90%;
    min-width: 90%;
    margin-right: 0 !important;
    margin-bottom: 16px !important;
    padding-bottom: 16px;
  }
}