.aside_menu {
    .accordion_box_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 42px;
        &--title {
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            color: $title_black;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            user-select: none;
        }
        &--img {
            user-select: none;
            img {
                margin-right: 10px;
                margin-top: 5px;
                transition: 0.6s;
                transform: rotate(180deg);
            }
        }
        &.active {
            img {
                transform: rotate(0);
            }  
        }
    }
    .accordion {
        display: block;
        position: relative;
        z-index: 0;
        flex: 1;
        margin-bottom: 32px;
        &.hide {
            display: none;
        }
        &-tabs {
            overflow: hidden;
            .accordion-tab {
                width: 99%;
                color: #ffffff;
                overflow: hidden;
    
                .accordion-input {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                    &:checked {
                        +.accordion-tab-label {
                            &::after {
                                content: "-";
                            }
                        }
                    
                        ~.accordion-tab-content {
                            max-height: 100vh;
                            padding: 8px 0;
                        }
                    }
                }
            
                &-label {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 0;
                    font-size: 14px;
                    font-weight: 400;
                    color: $light_black;
                    line-height: normal;
                    background: #ffffff;
                    cursor: pointer;
                    user-select: none;
            
                    &:hover {
                        color: $main_color;
                        text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                    }
            
                    &::after {
                        content: "+";
                        font-size: 24px;
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        transition: all 0.35s;
                        color: #8A8A8A;
                        margin-top: -6px;
                    }
                }
            
                &-content {
                    max-height: 0;
                    padding: 0 1em;
                    font-size: 14px;
                    font-weight: 400;
                    color: $light_black;
                    line-height: normal;
                    transition: all 0.35s;
                    margin-left: 24px;
                    width: 100%;
                    &--link {
                        display: inline-flex;
                        font-size: 14px;
                        font-weight: 400;
                        color: $light_black;
                        width: 100%;
                        margin-bottom: 4px;
                        &:hover {
                            text-decoration: none;
                            color: $main_color;
                            text-shadow: 0.4px 0px 0.1px, -0.4px 0px 0.1px;
                        }
                    }
                }
            
                &-close {
                    display: flex;
                    justify-content: flex-end;
                    padding: 1em;
                    font-size: 0.75em;
                    background: #ffffff;
                    cursor: pointer;
            
                    &:hover {
                        background: darken(#ffffff, 10%);
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .aside_menu {
        .accordion {
            margin-bottom: 24px;
        }
    }
}